body{
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

header {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100px;
    background-color: white;
}

img{
    width: 70px;
    height: 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 60px;
    padding-left: 10%;
    padding-top: 20px;
}

nav ul{
    display: flex;
    gap: 80px;
    list-style-type: none;
    padding-right: 20%;
    padding-top: 20px;

}

nav li a{
    color: rgba(7, 7, 147, 1);
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

nav li a:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
}

#Accueil{
    height: 850px;
    background-image: url('../../Assets/background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    margin-top: 6%;
}


.text-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13%;
}

.title-dev{
    margin-bottom: 0;
}

.text-block p{
    color: white;
    font-size: 35px;
    text-align: center;
    width: 900px;
    margin-top: 10px;
}

.icons{
    display: flex;
    justify-content: center;
    gap:0;
}

.icons .github{
    margin-right: 20px;
}

.icons .github img, .icons .linkedin img{
    height: 70px;
}

h1{
    text-align: center;
    color: white;
    font-size: 70px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;

    &{
        animation: flicker-in-1 4s linear both;
    }
}


#A-propos{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 700px;
}

#A-propos img{
  width: 400px;
  height: 400px;
  border-radius: 100%;
}

#A-propos .propos-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    color: black;
    width: 80%;
}

#A-propos p{
   width: 45%;
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align:justify;
}

@keyframes sizing{
    0%{ transform: scale(0)}
    5%{transform: scale(0.1);}
    10%{transform: scale(0.15)}
    15%{transform: scale(0.2)}
    20%{transform: scale(0.25)}
    25%{transform: scale(0.35)}
    30%{transform: scale(0.4)}
    35%{transform: scale(0.45)}
    40%{transform: scale(0.5)}
    45%{transform: scale(0.55)}
    50%{transform: scale(0.6)}
    55%{transform: scale(0.65)}
    60%{transform: scale(0.7)}
    70%{transform: scale(0.75)}
    75%{transform: scale(0.8)}
    80%{transform: scale(0.85)}
    85%{transform: scale(0.9)}
    90%{transform: scale(0.95);}
    95%{transform: scale(0.98)}
    100%{transform: scale(1);}

}

@keyframes slidein {
    0% {
        opacity: 0;
        max-height: 0;
        overflow: hidden;
    }
 100% {
    opacity: 1;
    max-height: 300px;
 }
}

@keyframes slideout {  
    0% {
         opacity: 1;
        max-height: 300px;
    }
  100% {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
  }
}

#section-competences img{
    &{
        animation: sizing 3s infinite both ease alternate;
    }
}

#section-competences{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(7, 7, 147, 1);
    padding-bottom: 5%;
}

.titre-2, .titre-3{
    text-align: center;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.titre-3{ 
    padding-top: 30px;
    color: white;
}

#Competences{
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 7px grey;
    border-radius: 30px;
    width: 70%;
    background-color: white;
}

#Competences div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.block-1, .block-2{
    border-right: 1px solid #E6ECF8;
    border-bottom: 0px solid #E6ECF8;
    border-bottom: 0px solid #E6ECF8;


}

#Competences div ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
    text-align: center;
    padding: 0;
    list-style: none;
}

#Competences ul li{
    font-size : 18px;
}

#Competences h3{
    font-size: 30px;
}

#projets{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

#projets h2{
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.details-none{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    animation: slideout 1s forwards;
}

.details{
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    animation: slidein 1s;
}

.details h4, .details-none h4{
    font-size: 25px;
    margin: 20px 0;
}

.details p, .details-none p{
    padding: 0 10px;
    font-size: 18px;
}

.details a, .details-none a{
    text-align: center;
    font-size: 18px;
    color: rgba(7, 7, 147, 1);
    text-decoration: none;
    padding-top: 50px;
}

.details a:hover{
    text-decoration: underline;
}

.details img, .details-none img{
    width: 410px;
    height: 570px;
    margin-left: 20%;
    margin-top: 50px;
}

.projects-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-right: 0;
    list-style: none;
}

.full-item{
    width: 700px;
}

.comp-list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.comp-list li{
    border: solid 1px rgba(7, 7, 147, 1);
    border-radius: 25px;
    background-color: rgba(7, 7, 147, 1);
    color: white;
    height: fit-content;
    padding: 10px;
}

.title-icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
}

.item-title{
    font-size: 30px;
}

.fa-plus, .fa-minus{
    font-size: 30px;
    color:rgba(7, 7, 147, 1);
}

.blueline{
    border-bottom: solid 4px rgba(7, 7, 147, 1);
}

.description{
    width: 40%;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
}

.title-comp{
  
    font-size: 30px;
}

.image-container ul{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-left: 0;

}

.image-container li{
    margin-bottom: 10px;
}

.link a{
    font-weight: 600;
    align-items: center;
    color: black;
}

.link a:hover{
    color: lightseagreen;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    padding-top: 3%;
    background-color: rgba(7, 7, 147, 1); 
}

footer h2{
    color: white;
    text-align: center;
    font-size: 40px;
}

#contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#contacts div{
    display: flex;
    align-items: center;
}

#contact-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:30px;
    width: 100%;
}

#contact-form input{
    font-size: 20px;
    height: 30px;
    outline: none;
    width: 35%;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 5px;
}

#contact-form input::placeholder, #contact-form textarea::placeholder{
    padding-left: 10px;
    font-size: 20px;
}

#contact-form textarea{
    height: 80px;
    font-size: 20px;
    outline: none;
    width: 35%;
    padding: 5px;
    border-radius: 5px;
}

.submit {
    width: 300px !important;
    height: auto !important;
    text-align: center;
    border: solid white 2px;
    border-radius: 25px;
    padding: 10px;
    color: rgba(7, 7, 147, 1);
    font-size: 20px;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  
  .ripple {
    position: absolute;
    background: rgba(7, 7, 147, 1);
    border-radius: 50%;
    transform: scale(0);
    width: 150px;
    height: 150px;
    opacity: 0.6;
    pointer-events: none;
    animation: ripple-effect 0.6s ease-out;
  }
  
  @keyframes ripple-effect {
    to {
      transform: scale(4);
      opacity: 0;
    }
  }
  
.contact-icons{
    display: flex;
    gap: 10px;
    margin: 30px 0;
}

.contact-icons img{
    height: 50px;
    width: 50px;
}


#contacts div p{
    color: white;
}


.github a, .linkedin a{
    display: flex;
    gap: 20px;
    color: white;
    text-decoration: none;
}


@media (max-width: 900px) {
    main{
        overflow-x: hidden;
    }
   
    header{
        justify-content: center;
    }

    header ul{
        gap: 30px;
    }


    header li{
        font-size: medium;
        width:auto;
    }

    h1{
        width: auto;
    }

    #A-propos img{
        margin-left: 41%;
    }

    #A-propos p{
        width: 60%;
        margin-left: 20%;
    }
    
   

    #contacts{
        padding-left: 15%;
    }

    .telephone{
        margin-right: 90px;
    }


    .github{
      width: 100%;
    }


}

@media(max-width:450px) {
    header{
        display: none;
        
    }

    #Accueil{
    height: 550px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin-top: 0;
    }

    #Accueil h1{
    margin-left: 15px;
    margin-bottom: 5px;
    font-size: 55px;
    }

    .text-block p{
        width: 300px;
        font-size: 25px;
    }

    .github {
        width: 20%; 
    }

   .titre-2, .titre-3, #projets h2, footer h2{
    font-size: 30px;
   }

   #A-propos {
    height: 900px;
   }

   #A-propos .propos-block{
        flex-direction: column;
   }

   #A-propos img{
    margin-left: 0;
    width: 250px;
    height: 250px;
   }

   #A-propos p{
    width: 100%;
    margin-left: 0;
    font-size: 20px;
   }


    #Competences{
        flex-direction: column;
    }

    #Competences img{
        width: 80px;
        height: 90px;
    }

    #Competences ul{
        margin-bottom: 50px;
        align-items: baseline;
    }

    #Competences div li{
        font-size: 18px;
        margin-bottom: 20px;
    }

    .block-1{
        border-right: none;
    }

    .block-2 ul{
        padding: 0;

    }

    .full-item {
        width: 350px;
    }

    .projects-list{
        align-items: normal;
    }

    .comp-list {
        justify-content: flex-start;
        gap: 10px;
    }

    .comp-list li {
        list-style: none;
    }

    #contacts{
        flex-direction: column;
        align-items: baseline;
        align-content: center;
        padding-left: 0%;
    }

    #contacts div{
      width: 80%;
      margin-left: 25%;
    }
    
    #contacts img{
        width: 80px;
        height: 80px;
    }

    #contacts p{
          font-size: 14px;
    }

    #projets h2{
        margin-bottom: 20%;
    }
    .vector-left{
        margin-right: -10%;
    }
    .vector-right{
        margin-left: -10%;
    }

    .vector-left, .vector-right{
       margin-top: -20%;
        width: 20px;
        height: 30px;
    }
}