body{
    margin: 0;
    overflow-x: hidden;
    max-width: 1580px;
    width: 100%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 109px;
    background-color: white;
    margin-bottom: 0px;
}

img{
    width: 70px;
    height: 80px;
}

ul{
    display: flex;
    gap: 80px;
    list-style-type: none;
}

li a{
    color: black;
    text-decoration: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}
li a:hover{
    border: solid black 1px;
    padding: 10px;
    border-radius: 25px;
    background-color: black;
    color: white;
    text-decoration: underline;
}

#Accueil{
    background-image: linear-gradient( to bottom,rgba(0, 0, 0, 0.5), rgba(3, 3, 3, 0.5)),url(../../Assets/main-image.jpg);
    height: 700px;
    background-position: center;
    background-repeat: no-repeat;
  
}


.text-logo-block{
    display: flex;
    justify-content: space-around;
    align-items: top;
}

@keyframes flicker-in-1{0%{opacity:0}10%{opacity:0}10.1%{opacity:1}10.2%{opacity:0}20%{opacity:0}20.1%{opacity:1}20.6%{opacity:0}30%{opacity:0}30.1%{opacity:1}30.5%{opacity:1}30.6%{opacity:0}45%{opacity:0}45.1%{opacity:1}50%{opacity:1}55%{opacity:1}55.1%{opacity:0}57%{opacity:0}57.1%{opacity:1}60%{opacity:1}60.1%{opacity:0}65%{opacity:0}65.1%{opacity:1}75%{opacity:1}75.1%{opacity:0}77%{opacity:0}77.1%{opacity:1}85%{opacity:1}85.1%{opacity:0}86%{opacity:0}86.1%{opacity:1}100%{opacity:1}}


h1{
    padding-top: 10%;
    text-align: center;
    color: azure;
    font-size: 70px;
    width: 90%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 0px;

    &{
        animation: flicker-in-1 4s linear both;
    }
}

@keyframes rotate{
    0%{ transform: rotate(0turn)}
    5%{transform: rotate(0.1turn);}
    10%{transform: rotate(0.15turn)}
    15%{transform: rotate(0.2turn)}
    20%{transform: rotate(0.25turn)}
    25%{transform: rotate(0.35turn)}
    30%{transform: rotate(0.4turn)}
    35%{transform: rotate(0.45turn)}
    40%{transform: rotate(0.5turn)}
    45%{transform: rotate(0.55turn)}
    50%{transform: rotate(0.6turn)}
    55%{transform: rotate(0.65turn)}
    60%{transform: rotate(0.7turn)}
    70%{transform: rotate(0.75turn)}
    75%{transform: rotate(0.8turn)}
    80%{transform: rotate(0.85turn)}
    85%{transform: rotate(0.9turn)}
    90%{transform: rotate(0.95turn)}
    95%{transform: rotate(0.98turn)}
    100%{transform: rotate(1turn);}

}

#A-propos img{
  margin-left: 46%;
  width: 170px;
  height: 200px;
  &{
    animation: rotate 3S cubic-bezier(.85,.03,0,-0.09) infinite ;
  }
}

#A-propos p{
   width: 40%;
   font-size: 25px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   margin: 2% 8% 7% 29%;

}

#section-competences{
   
    background-color: black;
    
}

@keyframes sizing{
    0%{ transform: scale(0)}
    5%{transform: scale(0.1);}
    10%{transform: scale(0.15)}
    15%{transform: scale(0.2)}
    20%{transform: scale(0.25)}
    25%{transform: scale(0.35)}
    30%{transform: scale(0.4)}
    35%{transform: scale(0.45)}
    40%{transform: scale(0.5)}
    45%{transform: scale(0.55)}
    50%{transform: scale(0.6)}
    55%{transform: scale(0.65)}
    60%{transform: scale(0.7)}
    70%{transform: scale(0.75)}
    75%{transform: scale(0.8)}
    80%{transform: scale(0.85)}
    85%{transform: scale(0.9)}
    90%{transform: scale(0.95);}
    95%{transform: scale(0.98)}
    100%{transform: scale(1);}

}

#section-competences img{
    &{
        animation: sizing 3s infinite both ease alternate;
    }
}

.titre-2{
    text-align: center;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.titre-3{
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 40px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

#Competences{
    display: flex;
    justify-content: space-around;
    padding: 60px;
}

#Competences div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#Competences ul{
    display: flex;
    flex-direction: column;
    color: white;
    gap:20px;
}

#Competences ul li{
    text-decoration: overline;
    font-size : 18px;
    font-style: italic;
}

footer{
    padding-top: 3%;
    background-color: black;
  
}

footer h2{
    color: white;
    text-align: center;
    font-size: 30px;
}

#contacts{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 5%;
    padding-left: 20%;
   
}

#contacts div{
    display: flex;
    align-items: center;
    gap: 30px;
   
}

.telephone{
    margin-bottom: 50px;
    margin-right: 30%;
}

.github{
    margin-right: 34%;
}

.email {
    padding-right: 30px;
}

#contacts div p{
    color: white;
}

.linkedin{
    padding-left: 4%;
}

.github, .linkedin{
    padding-bottom: 30px;
    padding-top: 30px;
}

.github a, .linkedin a{
    display: flex;
    align-items: center;
    gap: 20px;
    color: white;
    text-decoration: none;
}

#projets{
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

#projets h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.images{
    width: 100%;

    margin-left: 12%;
    margin-bottom: 40px;
}

.image-container{
    width: 100%;
    cursor: pointer;
    
}

.image-container h3{
    margin-left: 25%;
    font-size: 30px;
}

.image-container h4{
    margin-left: 20%;
    width: 40%;
    text-align: center;
}

.title-comp{
    margin-left: 25%;
    font-size: 30px;
}

.image-container ul{
    display: flex;
    flex-direction: column;
    margin-right: 22% ;
    text-align: center;
    gap: 20px;

}

.image-container p{
    margin-left: 18%;
}


.image-container li{
    margin-bottom: 10px;
}
.image-slider{
    width: 80%;
    height: 600px;
   object-fit: cover;
   border: 1px solid white;
    border-radius: 25px;
    object-fit: contain;
   
}

.vector-left, .vector-right {
    width: 30px;
    height: 40px;
    background-color: black;
    border-radius: 100%;
    padding: 10px;
}

.vector-left{
    position: absolute;
    left: 21%;
    top: 320%;
}

.vector-right{
    position: absolute;
    left: 79%;
    top: 320%;
}

@media screen and (max-width: 900px) {
    main{
        overflow-x: hidden;
    }
   
    header{
        justify-content: flex-start;
        margin-left: 5%;
    }


    header li{
        font-size: medium;
        width:auto;
    }

    #A-propos img{
        margin-left: 41%;
    }

    #A-propos p{
        width: 60%;
        margin-left: 20%;
    }
    
    .vector-left,.vector-right{
        top: 275%;
    }

    .image-container h3{
      margin-left: 13%;
    }

    .image-container ul{
        margin-right: 25%;
    }

    .image-container p{
        width: 50%;
        text-align: center;
        margin-left: 16%;
    }

    #contacts{
        padding-left: 15%;
    }

    .telephone{
        margin-right: 90px;
    }


    .github{
        margin-right: 27%;
    }
}

@media screen and (max-width:750px) {
    header{
        justify-content: none;
        margin-left: 0;
    }
    
    header ul{
        gap: 40px;
    }

    #Accueil h1{
    margin-left: 15px;
    }

    #Competences{
        flex-direction: column;
        align-items: start;
        margin-left: 30%;
    }

    #Competences img{
        width: 100px;
        height: 120px;
    }

    #Competences div{
        margin-bottom: 50px;
        align-items: center;
    }

    #Competences div li{
        font-size: 22px;
        margin-bottom: 20px;
    }

    .block-2 img{
        padding-left: 55px;
    }

    #contacts{
        flex-direction: column;
        align-items: baseline;
        align-content: center;
        padding-left: 20%;

    }
    
    #contacts img{
        width: 100px;
        height: 100px;
    }

    #contacts p{
          font-size: 20px;
    }

    #projets h2{
        margin-bottom: 20%;
    }

    .vector-left, .vector-right{
        top: 365%;
    }
}